<!--<div class="myLbl">-->
<!--  <p>filter works!</p>-->
<!--</div>-->
<mat-card class="search-card">
  <mat-card-header>
    <mat-card-title>Please, choose or put filters that you need:</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="chip-list">
      <mat-chip-list #chipList aria-label="Elements selection">
        <mat-chip
          *ngFor="let element of defElements"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(element)">
          {{element}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="New filter elements..."
          #elementInput
          [formControl]="filterCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let element of filteredElements | async" [value]="element">
          {{element}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="btnClick()">GO TO RESULTS</button>
  </mat-card-actions>
</mat-card>
